.detail-container {
    text-align: center;
    width: 70%;
    margin: auto;
    background-color: #eee;
    padding: 50px 50px;
    border-radius: 6px;
    margin-top: 50px;
}

.comments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}